@font-face {
    font-family: 'socialicons-allregular';
    src: url('fonts/socialicons-all-webfont.woff2') format('woff2'),
         url('fonts/socialicons-all-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilda_displayregular';
    src: url('fonts/gildadisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/gildadisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adorn_story_scriptregular';
    src: url('fonts/adornstoryscript-webfont.woff2') format('woff2'),
         url('fonts/adornstoryscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}